################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/gierka projekt/v16/Browse.VC.opendb
*.ipch
